body {
  background: var(--primary-white);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  color: inherit; 
  display:block;
  
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*-----Portfolio----*/

.header-portfolio {
  border: 1px solid var(--primary-background);
}

.portfolio-wrap-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.portfolio-link{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.portfolio-link:hover, .portfolio-link:focus{
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}
.style {
  padding: 94px 0;
}
.button-white {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--section2-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-white:hover,
.button-white:focus {
  color: var(--primary-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
}
  
.btn-white {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn-white li button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
}

.grid-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  
}

.grid-item {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-cards);
}

.portfolio-top-text{
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white);
  background: var(--portfolio-top-text);
  height: 100%;
  transform: translateY(100%);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-top-item:hover .portfolio-top-text,
.portfolio-top-item:focus .portfolio-top-text{

  transform: translateY(0);
}


.portfolio-top-wrap{
  position: relative;
  overflow: hidden;
}
